<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mayank Tanwar CV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css">
</head>
<body  ng-cloak ng-app="resume">
<div ng-controller="rootCtrl" >
    <div class="load-page">
        <mt-social-header></mt-social-header>
        <mt-intro-section details="user.basicInfo"></mt-intro-section>
        <mt-contact-details details="user.contactInfo"></mt-contact-details>
    </div><!--pageLoad- ends-->
    <mt-nav-header></mt-nav-header><!--fixed-header ends-->
    <div scroll ng-class="{ opacity:boolChangeClass}" ng-click="goToTop()" class="topScroll" >
        <i   class="fa fa-angle-up"></i>
    </div><!--scroll top ends-->


    <div class="wrapper container">
        <section id="edu" class="  experiences" >
            <div class="card">
                <div class="card-title text-center">
                    <h2>Education</h2>
                </div>
                <div class="edu-card col-md-4 col-xs-12  " ng-repeat="edu in user.education" >
                    <div class="edu-inner">
                        <div class="degree"> <h3>{{edu.degree}}</h3></div>
                        <div class="institute"> {{edu.institute}}</div>
                        <div class="edu-duration">{{edu.duration}}</div>
                        <div class="edu-desc">{{edu.desc}}</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="exp" class="  experiences">
            <div class="card">
                <div class="card-title text-center">
                    <h2> Work Experiences</h2>
                </div>
                <mt-exp-scroll experiences="user.experiences"></mt-exp-scroll>
            </div>
        </section>
        <section id="skills" >
            <div class="card">
                <div class="card-title text-center">
                    <h2>Professional Skills</h2>
                </div>
                <div class="sub-skill text-center col-md-12">
                    <h4> Top Skill </h4>
                </div>
                <mt-skill-show skills="user.skills"></mt-skill-show>
            </div>
        </section>
        <section id="port" >
            <div class="card">
                <div class="card-title text-center">
                    <h2>Portfolio</h2>
                </div>
                <mt-project-show projects="user.projects"></mt-project-show>
            </div>
        </section>
        <section id="connect" >
            <div class="card">
                <div class="card-title text-center">
                    <h2>GET IN TOUCH</h2>
                </div>
                <div class="services">
                    <div class="current-status">
                        {{user.services.status}}
                    </div>
                    <div class="current-services">
                        <ul>
                            <li ng-repeat="service in user.services.current track by $index"><i class="fa resume-color fa-check"></i>{{service}}</li>
                        </ul>
                    </div>
                    <div class="drop-note">Drop me a line at <span class="resume-color">{{user.contactInfo.email}}</span> or call me at <span class="resume-color">{{user.contactInfo.mobile}}</span></div>
                </div>
            </div>
        </section>
    </div>
    <footer class="text-center"> @Copyright Mayank Tanwar Made with <i class=" red large fa fa-heart"></i> </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="./vendor/progressbar.js"></script>
<script src="./vendor/angular-scroll.min.js"></script>
<script src="app.js"></script>
<script src="Services/dataFetecher.js"></script>

</body>
</html>