<div>
    <ul ng-init="filterOn=''" class="list-inline margin-list text-center">
        <li ng-class="filterOn=='' ? 'activeSkill' :'not' "><a ng-click="filter('all')" href="" >ALL</a></li>
        <li ng-class="filterOn=='Backend' ? 'activeSkill' :'' "><a ng-click="filter('back')" href="" >BACK-END</a></li>
        <li ng-class="filterOn=='frontend' ? 'activeSkill': '' "> <a ng-click="filter('front')" href="" >FRONT-END</a></li>
    </ul>
    <div class="project-container">
        <div ng-repeat="project in projects | filter: filterOn"  class="filter-animate project col-md-3">
            <div class="card-project  ">
                <div class="img-container">
                    <img src="images/profile.jpg" alt="">
                </div>
                <div class="project-content text-center">
                    <div class="project-title">
                        <span>{{project.title}}</span>
                    </div>
                    <div class="project-tech">
                        <span>{{project.skill}}</span>
                    </div>
                    <div class="view-options">
                        <ul class="list-inline">
                            <li><a ng-href="{{project.gitHubLink}}" class="btn project-btn">Github</a></li>
                            <li><a ng-href="{{project.gitHubLink}}" class="btn project-btn">Show </a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
