<div>
    <ul ng-init="filterOn=''" class="list-inline margin-list text-center">
        <li ng-class="filterOn=='' ? 'activeSkill' :'not' "><a ng-click="filter('all')" href="" >ALL</a></li>
        <li ng-class="filterOn=='Backend' ? 'activeSkill' :'' "><a ng-click="filter('back')" href="" >BACK-END</a></li>
        <li ng-class="filterOn=='frontend' ? 'activeSkill': '' "> <a ng-click="filter('front')" href="" >FRONT-END</a></li>
    </ul>
    <div class="project-container">
        <div ng-repeat="project in projects | filter: filterOn"  class="filter-animate project col-md-3">
            <div class="card-project  ">
                <div >
                    <!--<img ng-src="{{project.images[0]}}" alt="">-->
                    <div uib-carousel  active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div class="img-container" uib-slide ng-repeat="slide in project.images track by $index "  index="$index">
                            <img  ng-src="{{slide}}" style="margin:auto;">
                            <!--<div  class="carousel-caption" ng-class="slide.class">-->
                                <!--<h3 class="carousel-header">Slide {{slide.header}}</h3>-->
                                <!--<p>{{slide.text}}</p>-->
                                <!--<button class="carousel-btn">{{slide.buttontext}}</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="project-content text-left">
                    <h3 class="project-title">
                        {{project.title}}
                    </h3>
                    <div class="project-tech">
                        <span>{{project.skill}}</span>
                    </div>
                    <div class="view-options">
                        <ul class="list-inline">
                            <li><a ng-href="{{project.gitHubLink}}" class="btn project-btn">Github</a></li>
                            <li><a  data-toggle="modal" data-target="#modal{{$index}}" class="btn project-btn">Show </a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id="modal{{$index}}" class="modal fade project-modal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">{{project.title}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="project-show">
                                <div uib-carousel  active="active" interval="myInterval" no-wrap="noWrapSlides">
                                    <div class="img-container" uib-slide ng-repeat="slide in project.images track by $index "  index="$index">
                                        <img  ng-src="{{slide}}" style="margin:auto;">
                                        <!--<div  class="carousel-caption" ng-class="slide.class">-->
                                        <!--<h3 class="carousel-header">Slide {{slide.header}}</h3>-->
                                        <!--<p>{{slide.text}}</p>-->
                                        <!--<button class="carousel-btn">{{slide.buttontext}}</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                            <div class="project-obj  ">
                                 <h4><i class="fa - fa-hand-o-right resume-color"></i>Objective</h4>
                                <ul class="list-unstyled">
                                    <li style="padding-left: 10px">{{project.objective}}</li>
                                </ul>
                            </div>
                            <div class="project-challenges ">
                                 <h4><i class="fa - fa-hand-o-right resume-color"></i>Challenges </h4>
                                <ul>
                                    <li class="list-unstyled" ng-repeat="chal in project.challenges track by $index">

                                        <span><i class="fa - fa-check resume-color"></i>{{chal}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-learning  ">
                                 <h4><i class="fa - fa-hand-o-right resume-color"></i> Learning</h4>
                                <ul>
                                    <li class="list-unstyled" ng-repeat="learn in project.learning track by $index">
                                        <span><i class="fa - fa-check resume-color"></i>{{learn}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
