<div scroll-progress >
    <div ng-repeat="skill in skills.primary"  class="  text-center col-md-3">
        <div class="skill-container">
            <div class="progressSet"  id="progress{{$index}}"></div>
            <h4 class="skill-name">{{skill.name}}</h4>
            <div class="skill-proficient">{{skill.proficient}}</div>
        </div>
    </div>
    <div class="other-skills text-center col-md-12">
        <h3 class="subtitle"> Other Skill </h3>
        <br>
        <div class="skill-btn " ng-repeat="skill in skills.others track by $index">{{skill}}</div>
    </div>
</div>